---
layout: default
---

<div class="home">

	
	<div class="posts">
		{% for category in site.categories %}
			<div class="category">
				<h2 class="page-heading"><img src="{{ site.url }}/img/svg/{{ category | first }}.svg" alt="">{{ category | first }}</h2>
				<div class="container">
					{% for post in category[1] limit: 3 %}
					<section>
						<h2 class="post-title"><a href="{{ post.url }}">{{post.title}}<span class="post-meta">{{post.date | date: "%d / %m / %Y" }}</span></a></h2>
						<a class="mea" href="{{ post.url }}"><span><img src="{{post.img}}" alt="{{post.title}}"></span></a>
						<div class="txt">
							<p><a href="{{ post.url }}">{{post.description}}</a></p>
							<p class="author">Par <em>{{post.author}}</em></p>
						</div>
					</section>
					{% endfor %}
				</div>
				<a href="{{ site.url }}/{{ category | first}}" class="see">Voir tous les articles</a>
			</div>
		{% endfor %}
		{% for page in site.pages %}
			<p>{{ page.title }}</p>
		{% endfor %}
	</div>

</div>
