---
layout: default
---

<div class="home">


	<div class="cours">
		{% for category in site.categories  %}
			<h2 class="page-heading">{{ category | first }}</h2>
			{% for post in category[1] %}
			<section>
				<a class="mea" href="{{ post.url }}"><span><img src="{{post.img}}" alt="{{post.title}}"></span></a>
				<div class="txt">
					<h2 class="post-title"><a href="{{ post.url }}">{{post.title}}<span class="post-meta">{{post.date | date: "%d / %m / %Y" }}</span></a></h2>
					<p><a href="{{ post.url }}">{{post.description}}</a></p>
					<p class="author">Par <em>{{post.author}}</em></p>
				</div>
			</section>
			{% endfor %}
		{% endfor %}
	</div>

</div>
