header.site-header{
	background: $gris-f;
	.wrapper{
		overflow: hidden;
		display: table;
		@include breakpoint(mobile){
			display: block;
		}
	}
	p{
		@include fonts($font1, 20px);
		color: $orange;
		margin: 0;
		display: table-cell;
		border-right: 1px solid $gris-m;
		border-left: 1px solid $gris-m;
		width: 150px;
		text-align: center;
		@include breakpoint(mobile){
			display: block;
			padding: 10px;
			text-align: center;
			width: 100%;
			border: none;
		}
	}
	nav{
		display: table-cell;
		text-align: right;
		border-right: 1px solid $gris-m;
		@include breakpoint(mobile){
			display: block;	
			border: none;
		}
		ul{
			list-style: none;
			padding: 0;
			margin:0;
			font-size: 0;
			li{
				display: inline-block;
				text-transform: uppercase;
				border-left: 1px solid $gris-m;
				font-size: $size-text;
				@include breakpoint(mobile){
					display: block;
					border: none;
					border-top: 1px solid $gris-m;
					
				}
				a{
					color: $gris-c;
					text-decoration: none;
					display: block;
					padding: 15px;
					&:hover, &.on{
						color: $blanc;
						background: $gris-m;
					}
					&:before{
						content: "// ";
					}
				}
			}
		}
	}
}