header.site-header
	background: $color-main
	color: white
	position: fixed
	top: 0
	left: 0
	width: 100%

	.wrapper
		background: none
		margin: 0
		width: 100%
		.md-arrow-back
			transition: all 0.4s ease-in 0s
			position: absolute
			top: 17px
			left: 17px
			display: inline-block
			font-size: 24px
			cursor: pointer
			color: white
		@include box-shadow(0 0 5px 0 $gris)
		nav
			z-index: 1000
			transition: all 0.4s ease-in 0s
			position: fixed
			top: 0
			left: 0
			transform: translateX(125%)
			width: 80%
			background: $color-main
			height: 100%
			&.active
				left: 0
				transform: translateX(25%)
				@include box-shadow(0 0 5px 0 black)
			ul
				position: relative
				margin: 0
				padding: 0
				.md-menu
					transition: all 0.4s ease-in 0s
					position: absolute
					top: 17px
					left: -37px
					z-index: 10	
					display: inline-block
					font-size: 24px
					cursor: pointer
					color: white
					&.active
						transform: rotateX(180deg)
						&:before
							content: "\f29a"
				li
					display: block
					border-bottom: 1px solid lighten($color-main, 10%)
					transition: all 0.4s ease 0s
					text-transform: capitalize
					font-size: 20px
					&:hover
						background: lighten($color-main, 10%)
					a
						margin: 0 10px
						padding: 20px
						color: white
						display: block
						&:hover
						img
							width: 32px
							height: 32px
							vertical-align: -9px
							margin-right: 10px

	h3
		@include fonts($font1, $size-title, lighter)
		text-align: center
		padding: 10px
		a
			color: white
