.post
    transition: all 0.2s ease-in 0s
    background: white
    margin: $marge / 3
    +box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.2))
    overflow: hidden
    h1, h2, p, ul
        margin: $marge / 2
    h1.post-title
        font-weight: normal
        font-size: 34px
        margin: 0
        color: white
        padding: $marge
        border-bottom: 1px solid $gris-c
        background: $color-alt
        span
            display: block
            font-size: 14px
            font-weight: lighter
            color: white
            float: right
            margin: 0 10px

    p.mea
        height: 300px
        overflow: hidden
        img
            height: 100%
            width: auto
            @include breakpoint(desktop)
                width: 100%
                height: auto
    article
        color: $gris
        h2
            color: $color-main
        div
            border-bottom: 1px solid $gris-c
        p
            &.image
                margin: 20px 0
                text-align: center
        img
            max-width: 100%