<header class="site-header">
	<div class="overlay"></div>
	<div class="wrapper">
		<h3><a href="{{ site.url }}/">jvenerosy</a></h3>
		<nav>
			<ul>
				<a class="entypo-menu menu-nav" title="menu"></a>
				<li><a href="{{ site.url }}/"><img src="{{ site.url }}/img/svg/accueil.svg" alt="">Accueil</a></li>
				{% for category in site.categories  %}
				<li><a href="{{ site.url }}/{{ category | first }}"><img src="{{ site.url }}/img/svg/{{ category | first }}.svg" alt="">{{ category | first }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>

</header>
