body{
	background: $gris-m;
	color: $blanc;
	font-family: $font1;
	line-height: 1.7em;
}

h1{
	text-transform: uppercase;
	@include fonts($font1, $size-title);
	border-bottom: 1px solid $gris-c;
}
h2{
	color: $bleu;
	text-transform: uppercase;
	@include fonts($font1, $size-inter);
}
a{
	outline: none;
}

strong{
	color: $blanc;
}

.post-title{
	line-height: $size-title;
	padding: 10px 0;
	span.post-meta{
		padding: 10px 0;
		line-height: $size-title;
		float: right;
		@include fonts($font1, $size-text);
		display: block;
		color: $vert;
		@include breakpoint(tablet){
			float: none;
		}
	}
}

.wrapper{
	width: $wrapper;
	margin: auto;
	@include breakpoint(tablet){
		width: 95%;
		margin: auto;
	}
}

.cours{
	section{
		display: table;
		width: 100%;
		padding: 10px;
		border-bottom: 1px solid $gris-f;
		@include breakpoint(mobile){
			width: 90%;
			display: block;
			margin: auto;
		}
		&:hover{
			background: $gris-f;
		}
		a{
			color: inherit;
			text-decoration: none;
		}
		a.mea{
			display: table-cell;
			width: 300px;
			@include breakpoint(mobile){
				display: block;
				width: 100%;
				margin: 0;
			}
			img{
				height: 100%;
				margin-right: $marge;
				display: block;
				@include breakpoint(mobile){
					display: block;
					width: 100%;
					margin: 0;
				}
			}
		}
		.txt{
			display: table-cell;
			vertical-align: top;
			padding-right: $marge;
			text-align: left;
			@include breakpoint(mobile){
				display: block;
			}
			h2{
				margin-top: 0;
				@include breakpoint(mobile){
					margin: 0;
					line-height: 1em;
				}
			}
			p{
				@include fonts($font1, $size-text);
				&.author{
					color: $gris-c;
				}
				&.tag{
					a{
						color: $gris-c;
						margin: 0 10px 0 0;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}