body{
	background: $gris-m;
	color: $blanc;
	font-family: $font1;
}

h1{
	text-transform: uppercase;
	@include fonts($font1, $size-title);
	border-bottom: 1px solid $gris-c;
}
h2{
	color: $bleu;
	text-transform: uppercase;
	@include fonts($font1, $size-inter);
}
a{
	outline: none;
}

.post-title{
	line-height: $size-title;
	padding: 10px 0;
	span.post-meta{
		padding: 10px 0;
		line-height: $size-title;
		float: right;
		@include fonts($font1, $size-text);
		display: block;
		color: $vert;
	}
}

.wrapper{
	width: $wrapper;
	margin: auto;
}

.cours{
	section{
		display: table;
		width: 100%;
		margin: 10px 0;
		padding: 10px;
		&:hover{
			background: $gris-f;
		}
		a{
			color: inherit;
			text-decoration: none;
		}
		img{
			display: table-cell;
			width: 300px;
			margin-right: 20px;
		}
		.txt{
			display: table-cell;
			vertical-align: top;
			h2{
				margin-top: 0;
			}
			p{
				@include fonts($font1, $size-text);
				&.author{
					color: $gris-c;
				}
				&.tag{
					a{
						color: $gris-c;
						margin: 0 10px 0 0;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}