* { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
body{
	background: $gris-m;
	color: $blanc;
	font-family: $font1;
	line-height: 1.618em;
}

h1{
	text-transform: uppercase;
	@include fonts($font1, $size-title);
	border-bottom: 1px solid $gris-c;
	padding: 0 $marge;
}
h2{
	color: $bleu;
	text-transform: uppercase;
	@include fonts($font1, $size-inter);
	&.page-heading{
		text-transform: uppercase;
		@include fonts($font1, $size-title);
		//border-bottom: 1px solid $gris-c;
		padding: 0 $marge;
		color: $blanc;
	}
	&.post-title{
		padding: 10px 0;
	}
}
a{
	outline: none;
}

strong{
	color: $blanc;
}

em{
	color: $blanc;
}

ul{
	@include breakpoint(mobile){
		padding: 0;
	}
	&.arianne{
		list-style: none;
		margin: 10px 0;
		padding: 10px $marge;
		background: $gris-f;
		border-top: 1px solid $gris-m;
		@include breakpoint(mobile){
			display: none;
		}
		li{	
			display: inline;
			padding: 0;
			@include fonts($font1, 14px);
			text-transform: uppercase;
			a{
				text-decoration: none;
				color: $gris-c;
				&:hover{
					text-decoration: underline;
					color: $blanc;
				}
			}
		}
	}
}

.post-title{
	line-height: $size-title;
	padding: 10px $marge;
	span.post-meta{
		padding: 10px 0;
		line-height: $size-title;
		float: right;
		@include fonts($font1, $size-text);
		display: block;
		color: $vert;
		@include breakpoint(tablet){
			float: none;
		}
	}
	.post-author{
		display: inline;
		font-size: 0.5em;
		text-transform: none;
		margin-left: $marge;
	}
}

.wrapper{
	width: $wrapper;
	margin: auto;
	@include breakpoint(tablet){
		width: 95%;
		margin: auto;
	}
}

.cours{
	section{
		display: table;
		width: 100%;
		padding: $marge;
		border-bottom: 1px solid $gris-f;
		@include breakpoint(mobile){
			width: 90%;
			display: block;
			margin: auto;
		}
		&:hover{
			background: $gris-f;
			img{
				transform: scale(1.15);
			}
		}
		a{
			color: inherit;
			text-decoration: none;
		}
		a.mea{
			display: table-cell;
			width: 300px;
			span{
				overflow: hidden;
				width: 300px;
				height: 200px;
				display: block;
			}
			@include breakpoint(mobile){
				display: block;
				width: 100%;
				margin: 0;
			}
			img{
				height: 100%;
				margin-right: $marge;
				display: block;
				transition: all 0.9s ease 0s;
				@include breakpoint(mobile){
					display: block;
					width: 100%;
					margin: 0;
				}
			}
		}
		.txt{
			display: table-cell;
			vertical-align: top;
			padding: 0  0 0 $marge;
			text-align: left;
			@include breakpoint(mobile){
				display: block;
			}
			h2{
				margin-top: 0;
				padding-bottom: 0;
				@include breakpoint(mobile){
					margin: 0;
					line-height: 1em;
				}
			}
			p{
				@include fonts($font1, 20px);
				&.author{
					color: $gris-c;
				}
				&.tag{
					a{
						color: $gris-c;
						margin: 0 10px 0 0;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

/*Disqus*/
#disqus_thread{
	a{
		color: $vert;
	}
}