---
layout: default
comments: true
---
<div class="post cours">

	<header class="post-header">
		<h1 class="post-title">{{ page.title }} <span class="post-author">{% if page.author %}Par <em>{{ page.author }}</em>{% endif %}</span><span class="post-meta">{{ page.date | date: "%d / %m / %Y" }}</h1>
	</header>

	{% capture url_parts %} {{ page.url | remove: "/index.html" | replace:'/'," " }}{% endcapture %}
	{% capture num_parts %}{{ url_parts | number_of_words | minus: 1 }}{% endcapture %}
	{% assign previous="" %}
	<ul class="arianne">
		{% if num_parts == "0" or num_parts == "-1" %}
		<li><a href="/">home</a> &nbsp; </li>
		{% else %}
		<li><a href="/">home</a> &#187; </li>

		{% for unused in page.content limit:num_parts %}
		{% capture first_word %}{{ url_parts | truncatewords:1 | remove:"..."}}{% endcapture %}
		{% capture previous %}{{ previous }}/{{ first_word }}{% endcapture %}

		<li><a href="{{previous}}">{{ first_word }}</a> &#187; </li>

		{% capture url_parts %}{{ url_parts | remove_first:first_word }}{% endcapture %}
		{% endfor %}
		{% endif %}
	</ul>
	{% if page.mea %}
	<p class="mea">
		<img class="mea" src="{{ page.mea }}" alt="">
	</p>
	{% endif %}

	<article class="post-content">
		{{ content }}
	</article>

	{% if page.comments %}
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'jvenerosy'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
        	var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        	dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        	(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    

    {% endif %}

</div>
