<!DOCTYPE html>
<html>

{% include head.html %}

<body>

	{% include header-post.html %}
	
	<div class="page-content {{ page.category }}">
		<div class="wrapper">
			<div class="post">

				<header class="post-header">
					<h1 class="post-title">{{ page.title }} <span class="post-author">{% if page.author %}Par <em>{{ page.author }}</em>{% endif %}</span><span class="post-meta">{{ page.date | date: "%d / %m / %Y" }}</h1>
				</header>

				{% if page.mea %}
				<p class="mea">
					<img class="mea" src="{{ page.mea }}" alt="">
				</p>
				{% endif %}

				<article class="post-content">
					{{ content }}
				</article>

			</div>
		</div>
	</div>

	{% include footer.html %}

</body>

</html>

